<!-- Validation failure messages -->
<% if @survey_resposne.errors.any? %>
  <% @survey_resposne.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<h3>
You are eligible for the study! Please click on the link below. You will be redirected to a Google Form page that is not connected to your survey response. Your email address and phone number are needed to get you set up for the study. You will be contacted with further instructions on how to proceed. Thank you!

</h3>
