<!-- Validation failure messages -->
<% if @survey_resposne.errors.any? %>
  <% @survey_resposne.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<h3>
You are eligible for the study! Please click on the link below. You will be redirected to a USC Qualtrics page that is not connected to your survey response. Your email address and phone number are needed to get you set up for the study. No other identifying information is tracked or requested. You will be contacted with further instructions on how to proceed. Thank you!
</h3>
<br>
<br>
<div class="col-md-12 col-md-offset-4">

<h2><a href = "https://usc.qualtrics.com/SE/?SID=SV_esRAfPjsOHpBnPT">USC Qualtrics Survey</a></h2>
</div>
