<% if @survey_resposne.I1 == "error" %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Please answer the question
    </div>
<% end %>

<div class="page-header">
  <h4>In the past 12 months, have you had 3 or more alcoholic drinks, - within a 3 hour period, - on 3 or more occasions? </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/I2" method="get">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for I1 -->
          <div class="radio">
            <label><input type="radio" id="I1" name="I1" value = "no">No</label>
          </div>
          <div class="radio">
            <label><input type="radio" id="I1" name="I1" value = "yes" >Yes</label>
          </div>


      <input type="hidden" name="survey_id" value="<%=@survey_resposne.id %>">

      <button class="btn btn-success">
        Next Question
      </button>
    </form>
  </div>
</div>
