<% if @survey_resposne.L1a == "error" %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Please enter number
    </div>
<% end %>

<div class="page-header">
  <h4>What was your lowest weight in the past 3 months? (Entry must be number; round to the nearest whole number and do not use decimals) </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/L2" method="get" class="form-inline">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for L1a -->
          <div class="form-group">
            <label><input type="text" id="lbs" name="lbs"  data-bind="value:replyNumber" >lbs</label>
          </div>

      <input type="hidden" name="survey_id" value="<%=@survey_resposne.id %>">

      <button class="btn btn-success">
        Next Question
      </button>
    </form>
  </div>
</div>
