<% if @survey_resposne.M3 == "error" %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      Please answer the question
    </div>
<% end %>

<div class="page-header">
  <h4>Did you do anything to compensate for, or to prevent a weight gain, like vomiting, fasting, exercising excessively or taking laxatives, enemas, diuretics (fluid pills), or other medications?  </h4>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/M3a" method="get">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for M3 -->
          <div class="radio">
            <label><input type="radio" id="M3" name="M3" value = "no">No</label>
          </div>
          <div class="radio">
            <label><input type="radio" id="M3" name="M3" value = "yes" >Yes</label>
          </div>


      <input type="hidden" name="survey_id" value="<%=@survey_resposne.id %>">

      <button class="btn btn-success">
        Next Question
      </button>
    </form>
  </div>
</div>
